h1{
    font-weight:bold; 
    font-style:italic;
           
    font-size:2em;   
  
  }
  
  #divisorio
  {
  
    height:30px;
     border-bottom: 5px solid #54BAE2;
    border-top:none;
    
    
    
  }
  
  #contenitore{
    width:80%;
    height:417px;
  }
  div{
  
    align:center;
  border:5px outset red;
    
   text-align: center;
  }
  
  h2{
    font-weight:bold;
    border-top:none;
  }
  #titolo{
  
   
   text-align: center;
  }
  #menusinistro{
    width:15%;
    align:left;
      height:417px;
    border:5px solid 54BAE2;
  }
  
  
  #immagine{
  
    height:417px;
    float:right;
    border:none;
    border-left:5px solid #54BAE2;
    
     float:right;
    
    
    
  }
  
  
  
  #footer{
    margin:0;
   bottom:0;  
    background: grey;
     height: 40px;
    border:none;
  
  
    
  }
  ul#menu {
      font-family: Verdana, sans-serif;
      font-size: 11px;
      margin: 0;
     
      padding: 0;
      list-style: none;
  }
  ul#menu li {
      background-color: #FF831C;
      border-bottom: 5px solid #54BAE2;
      display: block;
      width: 150px;
      height: 30px;
      margin: 2px;
      float: left; 
   
  }
  ul#menu li a {
      color: #fff;
      display: block;
      font-weight: bold;
      line-height: 30px;
      text-decoration: none;
      width: 150px;
      height: 30px;
      text-align: center;
  }
  ul#menu li.active, ul#menu li:hover {
      background-color: #54BAE2;
      border-bottom: 5px solid #FF831C;
  }
  
  